/* 
DARK PURPLE
#210F37

PURPLE
#4F1C51

DARK ORANGE
#BE3D2A

ORANGE
#DCA06D


*/

body {
    background-color: #cdcdcd;
}

h1 {
    display: flex;
    justify-content: center;
    color: #4F1C51;
    font-family: 'Silkscreen', monospace;
    padding: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "ＭＳ Ｐゴシック", monospace;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
}

#swatches button {
    border: none;
    width: 25px;
    height: 25px;
    margin: 2px;
}

#wrapperOver {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#colBar {
    background-color: #F0F0F0;
}

#canvas {
    display: grid;
    grid-template-columns: repeat(16, 35px);
    grid-template-rows: repeat(16, 35px);
    width: 560px;
    height: 560px;
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#menu-bar {
    align-self: center;
    display: flex;
}

#colorPicker {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#colorPicker:hover {
    background-color: #cdcdcd;
}

#clearBtn {
    font-family: "ＭＳ Ｐゴシック", monospace;
    font-size: medium;
    font-weight: bold;
    width: 65px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#clearBtn:hover {
    color: #F8F4E1;
    background-color: #4F1C51;
}

#saveBtn {
    font-family: "ＭＳ Ｐゴシック", monospace;
    font-size: medium;
    font-weight: bold;
    width: 65px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#saveBtn:hover {
    color: #F8F4E1;
    background-color: #4F1C51;
}

#saveCol {
    font-family: "ＭＳ Ｐゴシック", monospace;
    font-size: medium;
    font-weight: bold;
    width: 65px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#saveCol:hover {
    color: #F8F4E1;
    background-color: #4F1C51;
}

#clearCol {
    font-family: "ＭＳ Ｐゴシック", monospace;
    font-size: medium;
    font-weight: bold;
    width: 65px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#clearCol:hover {
    color: #F8F4E1;
    background-color: #4F1C51;
}